html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.song-image {
  width: 190px;
}

.playlist-container {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #b8b6b6;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  padding: 30px;
}

a {
  color: black;
  font-size: 20px;
  text-decoration: solid;
  background-color: #1ba12d;
  border-radius: 5px;
  padding: 5px;
}

.playlist-search {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  padding: 30px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b8b6b6;
  padding: 5px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b8b6b6;
  padding: 5px;
  margin-left: 10px;
  background-color: #1ba12d;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
